<% provide(:subtitle, "Log in") %>

<div class="form-card">
  <div class="card">
    <div class="card-body text-center">
      <h3 class="mb-4 mt-2 logo">Instagram</h3>

      <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

        <%= f.email_field :email, placeholder: "Email address", class: "form-control" %>

        <%= f.password_field :password, placeholder: "Password",  class: "form-control" %>

        <%= f.submit "Log in", class: "w-100 btn btn-primary" %>

      <% end %>

      <div class="error-messages"><%= flash[:error] %></div>
    </div>
  </div>
</div>

<div class="form-card-sub">
  <div class="card">
    <div class="card-body text-center">
        <p class="mt-2 mb-2">Dont have an account? <%= link_to "Sign up", signup_path %></p>
    </div>
  </div>
</div>
