<div class="users-card">
  <div class="card">
    <%= render 'pagination' %>
    <div class="card-body">
      <% if @title %>
      <h5 class="relationship-title text-center mb-3"><%= @title %>
        <%= fa_icon("user-circle") %> <%= link_to @user.username, @user %>
      </h5>
      <% end %>
      <% if @users.any? %>
        <ul class="users">
          <%= render @users %>
        </ul>
      <% end %>
    </div>
    <%= render 'pagination' %>
  </div>
</div>
