<% provide(:subtitle, "#{@user.name} (@#{@user.username})") %>

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <h1 class="fw-light">
      <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg>
      <span><%= @user.username %></span>
      <span class="relationship-btn">
        <% if current_user?(@user) %>
          <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-outline-dark" %>
        <% else %>
          <%= render 'relationship_form', object: @user, style: "" if logged_in? %>
        <% end %>
      </span>
    </h1>
    <p><strong><%= @user.name %></strong></p>
    <p>
       <span class="stats"><%= pluralize(@user.posts.count, 'post') %></span>
       <span class="stats"><%= link_to pluralize(@user.followers.count, 'follower'), followers_user_path(@user) %></span>
       <span class="stats"><%= link_to "#{@user.following.count} following", following_user_path(@user) %></span>
    </p>
  </div>
</section>

<section>
  <% if @user.posts.any? %>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <%= render @posts %>
        </div>
      </div>
    </div>
  <% end %>
<section>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">&copy; Instagram</p>
  </div>
</footer>
