<div class="users-card">
  <% if @feed_posts.any? %>
    <% @feed_posts.each do |post| %>
      <div class="col">
        <div class="card mb-5 card-body gallery-thumbs">
          <span class='mb-3 user-link'><%= fa_icon("user-circle") %>
                                  <%= link_to post.user.username, post.user %>
          </span>
          <% if post.image.attached? %>
            <%= link_to image_tag(post.image), post %>
          <% else %>
            <%= link_to image_tag(""), post %>
          <% end %>

          <p class="mt-2">
            <p>
              <span class="heart-icon"><%= link_to fa_icon("heart"), post_likes_path(post),
                    data: { "turbo-method": :post } %></span>
              <span class="likes-count"><%= link_to(pluralize(post.likes.count, 'like'), likes_post_path(post) ) %></span>
            </p>
            <span class='user-link'><%= fa_icon("user-circle") %>
                                    <%= link_to post.user.username, post.user %>
            </span>
            <span class="text-muted"><%= post.caption %></span>
          </p>
          <%= form_with(model: @comment, url: post_comments_path(post), local: true) do |f| %>
            <%= f.text_field :content, placeholder: "Write a comment...", required: true%>
            <%= f.submit "Post comment", class: "btn-sm btn-primary comment-btn" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
