<div class="col">
  <div class="card-body gallery-thumbs">
    <% if post.image.attached? %>
      <%= link_to image_tag(post.image, size: "325x325"), post %>
    <% else %>
      <%= link_to image_tag(""), post %>
    <% end %>

    <div class="thumb-stats">
      <div class="thumb-text">
        <span><%= fa_icon("heart") %> <%= post.likes.count %></span>
        <span class=><%= fa_icon("comment") %> <%= post.comments.count %></span>
      </div>
    </div>
  </div>
</div>
