<div class="back-button">
  <%= link_to 'Back', request.referrer == root_url ? :back : @post.user %>
</div>

<div class="show-card">
  <div class="container">
    <div class= "card">
      <div class="card-body p-0">
        <div class="row">
          <div class="col col-md-auto">
            <% if @post.image.attached? %>
              <span class="picture"><%= image_tag(@post.show_large_image)%></span>
            <% else %>
               <%= image_tag("")%>
            <% end %>
          </div>
          <div class="col mt-2">
            <% if current_user?(@post.user) %>
              <span class="post-links"><%= link_to 'edit',edit_post_path(@post)%> |
                <%= link_to 'delete', @post, class: "delete-btn",
                data: { "turbo-method": :delete, "turbo_confirm": 'Are you sure?' } %>
              </span>
            <% else %>
              <span class='user-link'><%= fa_icon("user-circle") %>
                                      <%= link_to @post.user.username, @post.user %>
              </span>
              <span><%= render 'users/relationship_form', { object: @post.user, style: "btn-sm mt-2" } if logged_in? %></span>
            <% end %>
            <hr>
            <p>
              <%= render 'posts/post_info', { object: @post } %>
            </p>

            <% if @post.comments.any? %>
              <% @post.comments.each do |comment| %>
                <% unless comment.content.blank? %>
                  <p>
                    <span class='user-link'><%= fa_icon("user-circle") %>
                                            <%= link_to comment.user.username, comment.user %>
                    </span>
                    <span class="text-muted"><%= comment.content %></span>
                  </p>
                <% end %>
              <% end %>
            <% end %>
          </div>

          <div class="row align-items-end fixed">
            <div class="col-7"></div>
            <div class="col-5">
              <div class="comment-form">
                <%= render 'posts/likes_info', { object: @post } %>
                <%= render 'posts/comment_form', { object: @post } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
