<div class="back-button">
  <%= link_to 'Back', @post.user %>
</div>

<div class="show-card">
  <div class="container">
    <div class= "card">
      <div class="card-body">
        <div class="row">
          <div class="col col-md-auto">
            <% if @post.image.attached? %>
              <%= image_tag(@post.show_large_image)%>
            <% else %>
               <%= image_tag("")%>
            <% end %>
          </div>
          <div class="col">
            <% if current_user?(@post.user) %>
              <span class="post-links"><%= link_to 'edit',edit_post_path(@post)%> |
                <%= link_to 'delete', @post,
                data: { "turbo-method": :delete, "turbo_confirm": 'Are you sure?' } %>
              </span>
            <% else %>
              <span class='user-link'><%= fa_icon("user-circle") %>
                                      <%= link_to @post.user.username, @post.user %>
              </span>
              <span><%= link_to "Follow", '#', class: "follow-show-btn" %></span>
            <% end %>
            <hr>
            <p>
              <span class='user-link'><%= fa_icon("user-circle") %>
                                      <%= link_to @post.user.username, @post.user %>
              </span>
              <span class="text-muted"><%= @post.caption %></span>
            </p>
            <p class="mt-3"> A new comment <p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
